// Variables
$COLOR_WHITE: #ffffff;
$COLOR_OFF_WHITE: #fafafa;
$COLOR_BLACK: #1C1C1E;
$COLOR_OFF_BLACK: lighten($COLOR_BLACK,20%);


$brandColor: #2def2d;
$textOnDarkColor: $COLOR_WHITE;
$textOnLightColor: $COLOR_BLACK;
$backgroundColor: $COLOR_OFF_WHITE;

$textLighterColor: $COLOR_OFF_BLACK;