@import 'styles/_custom.scss';
// This is a hero unit
.o-divider {
	color: $textOnDarkColor;
	font-size: 1rem;
    font-family: $ctaFont;
	background: url('../../img/grid.svg') center, linear-gradient(80deg, #832D89 0%, #E82A4C 80%, #E82A4C 100%);
	height: 20em;

	&__title {
		
	}
}