@import 'styles/_custom.scss';

.o-header {
    background-color: transparent;
    position: absolute;
    z-index: 9999;
    font-size: 1rem;
    width: 100%;
    color: $textOnDarkColor;

    &__content {
        height:2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        flex: 1;
        font-weight: bold;
    }
    &__nav {
        flex: 1;
    }
    &__nav-list {
    }
    &__nav-item {
        list-style: none;
        display: inline;
    }
}