@import 'styles/_custom.scss';

.o-header {
    height:2em;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    font-size: 1rem;
    width: 100%;
    color: $textOnDarkColor;

    &__content {
        display: flex;
    }
}